/* General */
:root.burichan .dialog {
  background-color: #D6DAF0;
  border-color: #B7C5D9;
}
:root.burichan .field:focus {
  border-color: #98E;
}

/* Header */
:root.burichan #header-bar {
  font-size: 11pt;
  color: #89A;
}
:root.burichan #header-bar a {
  color: #34345C;
}

/* Settings */
:root.burichan #fourchanx-settings fieldset {
  border-color: #B7C5D9;
}

/* Quote */
:root.burichan .backlink.deadlink {
  color: #34345C !important;
}
:root.burichan .inline {
  border-color: #B7C5D9;
  background-color: rgba(255, 255, 255, .14);
}

/* QR */
:root.burichan #qr select {
  color: #34345C;
}
:root.burichan #qr select:hover {
  color: #DD0000;
}
.burichan #dump-list::-webkit-scrollbar-thumb {
  background-color: #D6DAF0;
  border-color: #B7C5D9;
}
:root.burichan .qr-preview {
  background-color: rgba(0, 0, 0, .15);
}

/* Menu */
:root.burichan #menu {
  color: #000000;
}
:root.burichan .entry {
  border-bottom: 1px solid #B7C5D9;
  font-size: 12pt;
}
:root.burichan .focused.entry {
  background: rgba(255, 255, 255, .33);
}
:root.burichan .thumb > .menu-button > i {
  background: #EEF2FF;
}
