/* General */
:root.futaba .dialog {
  background-color: #F0E0D6;
  border-color: #D9BFB7;
}
:root.futaba .field:focus {
  border-color: #EA8;
}

/* Header */
:root.futaba #header-bar {
  font-size: 11pt;
  color: #B86;
}
:root.futaba #header-bar a {
  color: #800000;
}

/* Settings */
:root.futaba #fourchanx-settings fieldset {
  border-color: #D9BFB7;
}

/* Quote */
:root.futaba .backlink.deadlink {
  color: #00E !important;
}
:root.futaba .inline {
  border-color: #D9BFB7;
  background-color: rgba(255, 255, 255, .14);
}

/* QR */
:root.futaba #qr select {
  color: #00E;
}
:root.futaba #qr select:hover {
  color: red;
}
.futaba #dump-list::-webkit-scrollbar-thumb {
  background-color: #F0E0D6;
  border-color: #D9BFB7;
}
:root.futaba .qr-preview {
  background-color: rgba(0, 0, 0, .15);
}

/* Menu */
:root.futaba #menu {
  color: #800000;
}
:root.futaba .entry {
  border-bottom: 1px solid #D9BFB7;
  font-size: 12pt;
}
:root.futaba .focused.entry {
  background: rgba(255, 255, 255, .33);
}
:root.futaba .thumb > .menu-button > i {
  background: #FFE;
}
