/* general */
:root.photon .dialog {
  background-color: #DDD;
  border-color: #CCC;
}
:root.photon .field:focus {
  border-color: #EA8;
}

/* Header */
:root.photon #header-bar {
  font-size: 9pt;
  color: #333;
}
:root.photon #header-bar a {
  color: #FF6600;
}

/* quote */
:root.photon .inline {
  border-color: #CCC;
  background-color: rgba(255, 255, 255, .14);
}

/* QR */
:root.photon .qrpreview {
  background-color: rgba(0, 0, 0, .15);
}

/* Menu */
:root.photon .entry {
  border-bottom: 1px solid #CCC;
}
:root.photon .focused.entry {
  background: rgba(255, 255, 255, .33);
}
