/* General */
:root.photon .dialog {
  background-color: #DDD;
  border-color: #CCC;
}
:root.photon .field:focus {
  border-color: #EA8;
}

/* Header */
:root.photon #header-bar {
  font-size: 9pt;
  color: #333;
}
:root.photon #header-bar a {
  color: #F60;
}

/* Settings */
:root.photon #fourchanx-settings fieldset {
  border-color: #CCC;
}

/* Quote */
:root.photon .backlink.deadlink {
  color: #F60 !important;
}
:root.photon .inline {
  border-color: #CCC;
  background-color: rgba(255, 255, 255, .14);
}

/* QR */
:root.photon #qr select {
  color: #F60;
}
:root.photon #qr select:hover {
  color: #FF3300;
}
.photon #dump-list::-webkit-scrollbar-thumb {
  background-color: #DDD;
  border-color: #CCC;
}
:root.photon .qr-preview {
  background-color: rgba(0, 0, 0, .15);
}

/* Menu */
:root.photon #menu {
  color: #333;
}
:root.photon .entry {
  border-bottom: 1px solid #CCC;
  font-size: 10pt;
}
:root.photon .focused.entry {
  background: rgba(255, 255, 255, .33);
}
:root.photon .thumb > .menu-button > i {
  background: #EEE;
}
