<div id="fourchanx-settings" class="dialog">
  <nav>
    <div class="sections-list"></div>
    <div class="credits">
      <a href="<%= meta.page %>" target="_blank"><%= meta.name %></a> |
      <a href="<%= meta.repo %>blob/<%= meta.mainBranch %>/CHANGELOG.md" target="_blank">#{g.VERSION}</a> |
      <a href="<%= meta.repo %>blob/<%= meta.mainBranch %>/CONTRIBUTING.md#reporting-bugs-and-suggestions" target="_blank">Issues</a> |
      <a href="javascript:;" class="close" title="Close">×</a>
    </div>
  </nav>
  <hr>
  <div class="section-container">
    <section></section>
  </div>
</div>
