<nav>
  <div class=sections-list></div>
  <span class='imp-exp-result warning'></span>
  <div class=credits>
      <a class=export>Export</a>&nbsp|&nbsp
      <a class=import>Import</a>&nbsp|&nbsp
      <a class=reset>Reset Settings</a>&nbsp|&nbsp
      <input type=file hidden>
    <a href='<%= meta.page %>' target=_blank><%= meta.name %></a> |
    <a href='<%= meta.repo %>blob/<%= meta.mainBranch %>/CHANGELOG.md' target=_blank>#{g.VERSION}</a> |
    <a href='<%= meta.repo %>blob/<%= meta.mainBranch %>/README.md#reporting-bugs-and-suggestions' target=_blank>Issues</a> |
    <a href=javascript:; class='close fa' title=Close>\uf00d</a>
  </div>
</nav>
<hr>
<div class=section-container><section></section></div>