<nav>
  <div class=sections-list></div>
  <p class='imp-exp-result warning'></p>
  <div class=credits>
      <a class=export>Export</a> |
      <a class=import>Import</a> |
      <button class="reset">Reset Settings</button> |
      <input type=file hidden>
    <a href='<%= meta.page %>' target=_blank><%= meta.name %></a> |
    <a href='<%= meta.repo %>blob/<%= meta.mainBranch %>/CHANGELOG.md' target=_blank>#{g.VERSION}</a> |
    <a href='<%= meta.repo %>blob/<%= meta.mainBranch %>/README.md#reporting-bugs-and-suggestions' target=_blank>Issues</a> |
    <a href=javascript:; class='fa fa-times' title=Close></a>
  </div>
</nav>
<div class=section-container><section></section></div>