/* General */
:root.burichan .dialog {
  background-color: #D6DAF0;
  border-color: #B7C5D9;
}
:root.burichan .field:focus,
:root.burichan .field.focus {
  border-color: #98E;
}

/* Header */
:root.burichan #header-bar.dialog {
  background-color: rgba(214,218,240,0.98);
}
:root.burichan:not(.fixed) #header-bar, :root.burichan #header-bar #notifications {
  font-size: 11pt;
}
:root.burichan #header-bar, :root.burichan #header-bar #notifications {
  color: #89A;
}
:root.burichan #header-bar a, :root.burichan #header-bar #notifications a {
  color: #34345C;
}

/* Settings */
:root.burichan #fourchanx-settings fieldset, :root.burichan .section-main div::before {
  border-color: #B7C5D9;
}
:root.burichan .suboption-list > div:last-of-type {
  background-color: #D6DAF0;
}

/* Catalog */
:root.burichan.catalog-hover-expand .catalog-container:hover > .post {
  background-color: #D6DAF0;
}
:root.burichan.werkTyme .catalog-thread:not(:hover),
:root.burichan.werkTyme:not(.catalog-hover-expand) .catalog-thread,
:root.burichan.catalog-hover-expand .catalog-container:hover > .post,
:root.burichan.catalog-hover-expand .catalog-container:hover .catalog-reply {
  border-color: #B7C5D9;
}

/* Quote */
:root.burichan .backlink.deadlink {
  color: #34345C !important;
}
:root.burichan .inline {
  border-color: #B7C5D9;
  background-color: rgba(255, 255, 255, .14);
}

/* Fappe and Werk Tyme */
:root.burichan .indicator {
  color: #D6DAF0;
}

/* Anonymize */
:root.burichan.anonymize $site$info$name::before {
  font-size: 12pt;
}

/* QR */
.burichan #dump-list::-webkit-scrollbar-thumb {
  background-color: #D6DAF0;
  border-color: #B7C5D9;
}
:root.burichan .qr-preview {
  background-color: rgba(0, 0, 0, .15);
}
:root.burichan .qr-link {
  border-color: rgb(199, 203, 225) rgb(199, 203, 225) rgb(184, 188, 210);
  background: linear-gradient(#E5E9FF, #D6DAF0) repeat scroll 0% 0% transparent;
}
:root.burichan .qr-link:hover {
  background: #D9DDF3;
}

/* Menu */
:root.burichan #menu {
  color: #000000;
}
:root.burichan .entry {
  font-size: 12pt;
}
:root.burichan .focused.entry {
  background: rgba(255, 255, 255, .33);
}

/* Unread */
:root.burichan .unread-mark-read {
  background-color: rgba(214,218,240,0.5);
}

/* Thread Watcher */
:root.burichan .replies-quoting-you > a, :root.burichan #watcher-link.replies-quoting-you, :root.burichan .last-page > a > .watcher-page {
  color: #F00;
}

/* Watcher Favicon */
:root.burichan .watch-thread-link
{
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 26 26' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(0,0,0)' d='M24.132,7.971c-2.203-2.205-5.916-2.098-8.25,0.235L15.5,8.588l-0.382-0.382c-2.334-2.333-6.047-2.44-8.25-0.235c-2.204,2.203-2.098,5.916,0.235,8.249l8.396,8.396l8.396-8.396C26.229,13.887,26.336,10.174,24.132,7.971z'/></svg>");
}
