/* General */
:root.futaba .dialog {
  background-color: #F0E0D6;
  border-color: #D9BFB7;
}
:root.futaba .field:focus,
:root.futaba .field.focus {
  border-color: #EA8;
}

/* Header */
:root.futaba #header-bar.dialog {
  background-color: rgba(240,224,214,0.98);
}
:root.futaba:not(.fixed) #header-bar, :root.futaba #notifications {
  font-size: 11pt;
}
:root.futaba #header-bar, :root.futaba #notifications {
  color: #B86;
}
:root.futaba #header-bar a, :root.futaba #notifications a {
  color: #800000;
}

/* Settings */
:root.futaba #fourchanx-settings fieldset, :root.futaba .section-main div::before {
  border-color: #D9BFB7;
}
:root.futaba .suboption-list > div:last-of-type {
  background-color: #F0E0D6;
}

/* Catalog */
:root.futaba.catalog-hover-expand .catalog-container:hover > .post {
  background-color: #F0E0D6;
}
:root.futaba.werkTyme .catalog-thread:not(:hover),
:root.futaba.werkTyme:not(.catalog-hover-expand) .catalog-thread,
:root.futaba.catalog-hover-expand .catalog-container:hover > .post,
:root.futaba.catalog-hover-expand .catalog-container:hover .catalog-reply {
  border-color: #D9BFB7;
}

/* Quote */
:root.futaba .backlink.deadlink {
  color: #00E !important;
}
:root.futaba .inline {
  border-color: #D9BFB7;
  background-color: rgba(255, 255, 255, .14);
}

/* Fappe and Werk Tyme */
:root.futaba .indicator {
  color: #F0E0D6;
}

/* Anonymize */
:root.futaba.anonymize $site$info$name::before {
  font-size: 12pt;
}

/* QR */
.futaba #dump-list::-webkit-scrollbar-thumb {
  background-color: #F0E0D6;
  border-color: #D9BFB7;
}
:root.futaba .qr-preview {
  background-color: rgba(0, 0, 0, .15);
}
:root.futaba .qr-link {
  border-color: rgb(225, 209, 199) rgb(225, 209, 199) rgb(210, 194, 184);
  background: linear-gradient(#FFEFE5, #F0E0D6) repeat scroll 0% 0% transparent;
}
:root.futaba .qr-link:hover {
  background: #F0E0D6;
}

/* Menu */
:root.futaba #menu {
  color: #800000;
}
:root.futaba .entry {
  font-size: 12pt;
}
:root.futaba .focused.entry {
  background: rgba(255, 255, 255, .33);
}

/* Unread */
:root.futaba .unread-mark-read {
  background-color: rgba(240,224,214,0.5);
}

/* Thread Watcher */
:root.futaba .replies-quoting-you > a, :root.futaba #watcher-link.replies-quoting-you, :root.futaba .last-page > a > .watcher-page {
  color: #F00;
}
