/* General */
:root.photon .dialog {
  background-color: #DDD;
  border-color: #CCC;
}
:root.photon .field:focus,
:root.photon .field.focus {
  border-color: #EA8;
}

/* Header */
:root.photon #header-bar.dialog {
  background-color: rgba(221,221,221,0.98);
}
:root.photon:not(.fixed) #header-bar, :root.photon #notifications {
  font-size: 9pt;
}
:root.photon #header-bar, :root.photon #notifications {
  color: #333;
}
:root.photon #header-bar a, :root.photon #notifications a {
  color: #FF6600;
}

/* Settings */
:root.photon #fourchanx-settings fieldset, :root.photon .section-main div::before {
  border-color: #CCC;
}
:root.photon .suboption-list > div:last-of-type {
  background-color: #DDD;
}

/* Catalog */
:root.photon .catalog-thread > .postContainer:hover > .post {
  background-color: #DDD;
}
:root.photon.werkTyme .catalog-thread:not(:hover), :root.photon .catalog-thread > .postContainer:hover > .post {
  border-color: #CCC;
}
:root.photon .catalog-code {
  background-color: rgba(150, 150, 150, 0.2);
}

/* Quote */
:root.photon #arc-list tr:nth-of-type(odd) span.quote {
  color: #C0E17A;
}
:root.photon .backlink.deadlink {
  color: #F60 !important;
}
:root.photon .inline {
  border-color: #CCC;
  background-color: rgba(255, 255, 255, .14);
}

/* Fappe and Werk Tyme */
:root.photon .indicator {
  color: #DDD;
}

/* QR */
.photon #dump-list::-webkit-scrollbar-thumb {
  background-color: #DDD;
  border-color: #CCC;
}
:root.photon .qr-preview {
  background-color: rgba(0, 0, 0, .15);
}
:root.photon .qr-link {
  border-color: rgb(206, 206, 206) rgb(206, 206, 206) rgb(191, 191, 191);
  background: linear-gradient(#ECECEC, #DDD) repeat scroll 0% 0% transparent;
}
:root.photon .qr-link:hover {
  background: #DDDDDD;
}

/* Menu */
:root.photon #menu {
  color: #333;
}
:root.photon .entry {
  font-size: 10pt;
}
:root.photon .focused.entry {
  background: rgba(255, 255, 255, .33);
}

/* Thread Watcher */
:root.photon .replies-quoting-you > a, :root.photon #watcher-link.replies-quoting-you {
  color: #00F !important;
}

/* Watcher Favicon */
:root.photon .watch-thread-link
{
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 26 26' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(51,51,51)' d='M24.132,7.971c-2.203-2.205-5.916-2.098-8.25,0.235L15.5,8.588l-0.382-0.382c-2.334-2.333-6.047-2.44-8.25-0.235c-2.204,2.203-2.098,5.916,0.235,8.249l8.396,8.396l8.396-8.396C26.229,13.887,26.336,10.174,24.132,7.971z'/></svg>");
}
