/* General */
:root.tomorrow .dialog {
  background-color: #282A2E;
  border-color: #111;
}

/* 4chan style fixes */
:root.tomorrow #arc-list span.quote {
  color: #B5BD68;
}
:root.tomorrow.highlight-you .quotesYou$site$highlightable$reply {
  border-left: 3px solid rgba(145, 182, 214, .8) !important;
}
:root.tomorrow.highlight-own .yourPost$site$highlightable$reply {
  border-left: 3px dashed rgba(145, 182, 214, .8) !important;
}

/* Header */
:root.tomorrow #header-bar.dialog {
  background-color: rgba(40,42,46,0.9);
}
:root.tomorrow:not(.fixed) #header-bar, :root.tomorrow #notifications {
  font-size: 9pt;
}
:root.tomorrow #header-bar, :root.tomorrow #notifications {
  color: #C5C8C6;
}
:root.tomorrow #header-bar a, :root.tomorrow #notifications a {
  color: #81A2BE;
}
:root.tomorrow.shortcut-icons .native-settings {
  background-image: url('//s.4cdn.org/image/favicon-ws.ico');
}

/* Settings */
:root.tomorrow #fourchanx-settings fieldset, :root.tomorrow .section-main div::before {
  border-color: #111;
}
:root.tomorrow .suboption-list > div:last-of-type {
  background-color: #282A2E;
}

/* Catalog */
:root.tomorrow.catalog-hover-expand .catalog-container:hover > .post {
  background-color: #282A2E;
}
:root.tomorrow.werkTyme .catalog-thread:not(:hover),
:root.tomorrow.werkTyme:not(.catalog-hover-expand) .catalog-thread,
:root.tomorrow.catalog-hover-expand .catalog-container:hover > .post,
:root.tomorrow.catalog-hover-expand .catalog-container:hover .catalog-reply {
  border-color: #111;
}

/* Quote */
:root.tomorrow .backlink.deadlink {
  color: #81A2BE !important;
}
:root.tomorrow .inline {
  border-color: #111;
  background-color: rgba(0, 0, 0, .14);
}

/* Fappe and Werk Tyme */
:root.tomorrow .indicator {
  color: #282A2E;
}

/* Highlighting */
:root.tomorrow .qphl {
  outline: 2px solid rgba(145, 182, 214, .8);
}
:root.tomorrow.highlight-you .quotesYou$site$highlightable$op,
:root.tomorrow.highlight-you .quotesYou$site$highlightable$reply {
  border-left: 3px solid rgba(145, 182, 214, .8);
}
:root.tomorrow.highlight-own .yourPost$site$highlightable$op,
:root.tomorrow.highlight-own .yourPost$site$highlightable$reply {
  border-left: 3px dashed rgba(145, 182, 214, .8);
}
:root.tomorrow .filter-highlight$site$highlightable$op,
:root.tomorrow .filter-highlight$site$highlightable$reply {
  box-shadow: inset 5px 0 rgba(145, 182, 214, .5);
}
:root.tomorrow.highlight-own .yourPost > $site$sideArrows,
:root.tomorrow.highlight-you .quotesYou > $site$sideArrows,
:root.tomorrow .filter-highlight > $site$sideArrows {
  color: rgb(155, 185, 210);
}
:root.tomorrow .catalog-thread.filter-highlight .catalog-thumb,
:root.tomorrow.werkTyme .catalog-thread.filter-highlight:not(:hover),
:root.tomorrow.werkTyme:not(.catalog-hover-expand) .catalog-thread.filter-highlight,
:root.tomorrow.werkTyme.catalog-hover-expand .catalog-thread.filter-highlight > .catalog-container:hover > .catalog-post {
  box-shadow: 0 0 3px 3px rgba(64, 192, 255, .7);
}
:root.tomorrow .catalog-thread.watched .catalog-thumb,
:root.tomorrow.werkTyme .catalog-thread.watched:not(:hover),
:root.tomorrow.werkTyme:not(.catalog-hover-expand) .catalog-thread.watched,
:root.tomorrow.werkTyme.catalog-hover-expand .catalog-thread.watched > .catalog-container:hover > .catalog-post {
  border: 2px solid rgb(64, 192, 255);
}


/* QR */
.tomorrow #dump-list::-webkit-scrollbar-thumb {
  background-color: #282A2E;
  border-color: #111;
}
:root.tomorrow .qr-preview {
  background-color: rgba(255, 255, 255, .15);
}
:root.tomorrow #qr .field {
  background-color: rgb(26, 27, 29);
  color: rgb(197,200,198);
  border-color: rgb(40, 41, 42);
}
:root.tomorrow #qr .field:focus,
:root.tomorrow #qr .field.focus {
  border-color: rgb(129, 162, 190) !important;
  background-color: rgb(30,32,36);
}
:root.tomorrow .persona button {
  background: linear-gradient(to bottom, #2E3035, #222427) no-repeat;
  color: rgb(197,200,198);
  border-color: rgb(40, 41, 42);
  outline: none;
}
:root.tomorrow .persona button::-moz-focus-inner {
  border: none;
}
:root.tomorrow .persona button:focus {
  border-color: rgb(129, 162, 190);
}
:root.tomorrow #qr.sjis-preview #sjis-toggle,
:root.tomorrow #qr.tex-preview #tex-preview-button {
  background: rgb(26, 27, 29);
}
:root.tomorrow #qr select,
:root.tomorrow #file-n-submit > input,
:root.tomorrow #qr-draw-button {
  border-color: rgb(40, 41, 42);
}
:root.tomorrow #qr-filename {
  color: rgb(197,200,198);
}
:root.tomorrow .qr-link {
  border-color: rgb(25, 27, 31) rgb(25, 27, 31) rgb(10, 12, 16);
  background: linear-gradient(#37393D, #282A2E) repeat scroll 0% 0% transparent;
}
:root.tomorrow .qr-link:hover {
  background: #282A2E;
}

/* Menu */
:root.tomorrow #menu {
  color: #C5C8C6;
}
:root.tomorrow .entry {
  font-size: 10pt;
}
:root.tomorrow .focused.entry {
  background: rgba(0, 0, 0, .33);
}

/* Unread */
:root.tomorrow .unread-line {
  border-color: rgb(197, 200, 198);
}
:root.tomorrow .unread-mark-read {
  background-color: rgba(40,42,46,0.5);
}

/* Thread Watcher */
:root.tomorrow .replies-quoting-you > a, :root.tomorrow #watcher-link.replies-quoting-you, :root.tomorrow .last-page > a > .watcher-page {
  color: #F00 !important;
}
