/* General */
:root.yotsuba-b .dialog {
  background-color: #D6DAF0;
  border-color: #B7C5D9;
}
:root.yotsuba-b .field:focus,
:root.yotsuba-b .field.focus {
  border-color: #98E;
}

/* 4chan style fixes */
:root.yotsuba-b.highlight-you .quotesYou$site$highlightable$reply {
  border-left: 3px solid rgba(221, 0, 0, .8) !important;
}
:root.yotsuba-b.highlight-own .yourPost$site$highlightable$reply {
  border-left: 3px dashed rgba(221, 0, 0, .8) !important;
}

/* Header */
:root.yotsuba-b #header-bar.dialog {
  background-color: rgba(214,218,240,0.98);
}
:root.yotsuba-b:not(.fixed) #header-bar, :root.yotsuba-b #notifications {
  font-size: 9pt;
}
:root.yotsuba-b #header-bar, :root.yotsuba-b #notifications {
  color: #89A;
}
:root.yotsuba-b #board-list a, :root.yotsuba-b #shortcuts a {
  color: #34345C;
}

/* Settings */
:root.yotsuba-b #fourchanx-settings fieldset, :root.yotsuba-b .section-main div::before {
  border-color: #B7C5D9;
}
:root.yotsuba-b .suboption-list > div:last-of-type {
  background-color: #D6DAF0;
}

/* Catalog */
:root.yotsuba-b.catalog-hover-expand .catalog-container:hover > .post {
  background-color: #D6DAF0;
}
:root.yotsuba-b.werkTyme .catalog-thread:not(:hover),
:root.yotsuba-b.werkTyme:not(.catalog-hover-expand) .catalog-thread,
:root.yotsuba-b.catalog-hover-expand .catalog-container:hover > .post,
:root.yotsuba-b.catalog-hover-expand .catalog-container:hover .catalog-reply {
  border-color: #B7C5D9;
}

/* Quote */
:root.yotsuba-b .backlink.deadlink {
  color: #34345C !important;
}
:root.yotsuba-b .inline {
  border-color: #B7C5D9;
  background-color: rgba(255, 255, 255, .14);
}

/* Fappe and Werk Tyme */
:root.yotsuba-b .indicator {
  color: #D6DAF0;
}

/* QR */
.yotsuba-b #dump-list::-webkit-scrollbar-thumb {
  background-color: #D6DAF0;
  border-color: #B7C5D9;
}
:root.yotsuba-b .qr-preview {
  background-color: rgba(0, 0, 0, .15);
}
:root.yotsuba-b .qr-link {
  border-color: rgb(199, 203, 225) rgb(199, 203, 225) rgb(184, 188, 210);
  background: linear-gradient(#E5E9FF, #D6DAF0) repeat scroll 0% 0% transparent;
}
:root.yotsuba-b .qr-link:hover {
  background: #D9DDF3;
}


/* Menu */
:root.yotsuba-b #menu {
  color: #000;
}
:root.yotsuba-b .entry {
  font-size: 10pt;
}
:root.yotsuba-b .focused.entry {
  background: rgba(255, 255, 255, .33);
}

/* Unread */
:root.yotsuba-b .unread-mark-read {
  background-color: rgba(214,218,240,0.5);
}

/* Thread Watcher */
:root.yotsuba-b .replies-quoting-you > a, :root.yotsuba-b #watcher-link.replies-quoting-you {
  color: #F00;
}
