<div id="fourchanx-settings" class="dialog">
  <a href="javascript:;" class="close fa fa-times" title="Close"></a>
  <div class="settings-titlebar">
    <span class="settings-title"><%= meta.name %> Settings</span>
  </div>
  <div class="settings-body">
    <nav>
      <div class="sections-list"></div>
      <p class="imp-exp-result warning"></p>
      <div class="settings-layout-toggle">
        <label><input type="checkbox" name="Modern Settings Layout"> Vertical Menu</label>
      </div>
      <div class="credits">
          <a class="export">Export</a>&nbsp|&nbsp
          <a class="import">Import</a>&nbsp|&nbsp
          <a class="reset">Reset Settings</a>&nbsp|&nbsp
          <input type="file" hidden>
        <a href="<%= meta.page %>" target="_blank"><%= meta.name %></a>&nbsp|&nbsp
        <a href="<%= meta.changelog %>" target="_blank">${g.VERSION}</a>&nbsp|&nbsp
        <a href="<%= meta.issues %>" target="_blank">Issues</a>
      </div>
    </nav>
    <div class="section-container"><section></section></div>
  </div>
</div>
