<div id="fourchanx-settings" class="dialog">
  <nav>
    <div class="sections-list"></div>
    <p class="imp-exp-result warning"></p>
    <div class="credits">
        <a class="export">Export</a>&nbsp|&nbsp
        <a class="import">Import</a>&nbsp|&nbsp
        <a class="reset">Reset Settings</a>&nbsp|&nbsp
        <input type="file" hidden>
      <a href="<%= meta.page %>" target="_blank"><%= meta.name %></a>&nbsp|&nbsp
      <a href="<%= meta.changelog %>" target="_blank">${g.VERSION}</a>&nbsp|&nbsp
      <a href="<%= meta.issues %>" target="_blank">Issues</a>&nbsp|&nbsp
      <a href="javascript:;" class="close fa fa-times" title="Close"></a>
    </div>
  </nav>
  <div class="section-container"><section></section></div>
</div>
