#boardNavDesktopFoot a,
#header-bar a,
.deleteform::before,
.field,
.hide-navigation-decorations .pages a,
.selectrice,
body,
button,
input,
textarea {
  font-size: #{parseInt _conf["Font Size"], 10}px;
}
#boardTitle,
.boardTitle a {
  font-size: #{parseInt(_conf["Font Size"], 10) + 10}px;
}
.boardSubtitle,
.boardSubtitle a {
  font-size: #{parseInt(_conf["Font Size"], 10) - 1}px;
}
body,
button,
input,
textarea {
  font-family: #{_conf["Font"]};
}
body {
  padding: 0 #{parseInt(_conf["Right Thread Padding"], 10) + editSpace["right"]}px 0 #{parseInt(_conf["Left Thread Padding"], 10) + editSpace["left"]}px;
}
.board > .thread {
  margin: #{parseInt _conf["Top Thread Padding"], 10}px 0 #{parseInt _conf["Bottom Thread Padding"], 10}px 0;
}
.post,
.summary {
  margin-bottom: #{Conf["Post Spacing"]}px;
}
.thread > .threadContainer:last-of-type {
  margin-bottom: -#{Conf["Post Spacing"]}px;
}
.postMessage {
  margin: #{_conf['Vertical Post Padding']}px #{_conf['Horizontal Post Padding']}px;
}
.sidebar-location-left.sidebar-large:not(.fourchan-ss-navigation) #header-bar {
  left: #{303 + parseInt(_conf["Left Thread Padding"], 10) + editSpace["right"]}px;
  right: #{parseInt(_conf["Right Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-left.sidebar-normal:not(.fourchan-ss-navigation) #header-bar {
  left: #{248 + parseInt(_conf["Left Thread Padding"], 10) + editSpace["right"]}px;
  right: #{parseInt(_conf["Right Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-left.sidebar-minimal:not(.fourchan-ss-navigation) #header-bar {
  left: #{20 + parseInt(_conf["Left Thread Padding"], 10) + editSpace["right"]}px;
  right: #{parseInt(_conf["Right Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-left.sidebar-hide:not(.fourchan-ss-navigation) #header-bar {
  left: #{2 + parseInt(_conf["Left Thread Padding"], 10) + editSpace["right"]}px;
  right: #{parseInt(_conf["Right Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-right.sidebar-large:not(.fourchan-ss-navigation) #header-bar {
  right: #{303 + parseInt(_conf["Right Thread Padding"], 10) + editSpace["right"]}px;
  left: #{parseInt(_conf["Left Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-right.sidebar-normal:not(.fourchan-ss-navigation) #header-bar {
  right: #{248 + parseInt(_conf["Right Thread Padding"], 10) + editSpace["right"]}px;
  left: #{parseInt(_conf["Left Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-right.sidebar-minimal:not(.fourchan-ss-navigation) #header-bar {
  right: #{20 + parseInt(_conf["Right Thread Padding"], 10) + editSpace["right"]}px;
  left: #{parseInt(_conf["Left Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-right.sidebar-hide:not(.fourchan-ss-navigation) #header-bar {
  right: #{2 + parseInt(_conf["Right Thread Padding"], 10) + editSpace["right"]}px;
  left: #{parseInt(_conf["Left Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-left.sidebar-large:not(.pagination-alignment-on-side):not(.fourchan-ss-navigation) .pagelist {
  left: #{303 + parseInt(_conf["Left Thread Padding"], 10) + editSpace["right"]}px;
  right: #{parseInt(_conf["Right Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-left.sidebar-normal:not(.pagination-alignment-on-side):not(.fourchan-ss-navigation) .pagelist {
  left: #{248 + parseInt(_conf["Left Thread Padding"], 10) + editSpace["right"]}px;
  right: #{parseInt(_conf["Right Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-left.sidebar-minimal:not(.pagination-alignment-on-side):not(.fourchan-ss-navigation) .pagelist {
  left: #{20 + parseInt(_conf["Left Thread Padding"], 10) + editSpace["right"]}px;
  right: #{parseInt(_conf["Right Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-left.sidebar-hide:not(.pagination-alignment-on-side):not(.fourchan-ss-navigation) .pagelist {
  left: #{2 + parseInt(_conf["Left Thread Padding"], 10) + editSpace["right"]}px;
  right: #{parseInt(_conf["Right Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-right.sidebar-large:not(.pagination-alignment-on-side):not(.fourchan-ss-navigation) .pagelist {
  right: #{303 + parseInt(_conf["Right Thread Padding"], 10) + editSpace["right"]}px;
  left: #{parseInt(_conf["Left Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-right.sidebar-normal:not(.pagination-alignment-on-side):not(.fourchan-ss-navigation) .pagelist {
  right: #{248 + parseInt(_conf["Right Thread Padding"], 10) + editSpace["right"]}px;
  left: #{parseInt(_conf["Left Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-right.sidebar-minimal:not(.pagination-alignment-on-side):not(.fourchan-ss-navigation) .pagelist {
  right: #{20 + parseInt(_conf["Right Thread Padding"], 10) + editSpace["right"]}px;
  left: #{parseInt(_conf["Left Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
.sidebar-location-right.sidebar-hide:not(.pagination-alignment-on-side):not(.fourchan-ss-navigation) .pagelist {
  right: #{2 + parseInt(_conf["Right Thread Padding"], 10) + editSpace["right"]}px;
  left: #{parseInt(_conf["Left Thread Padding"], 10) + editSpace["left"] + 2}px;"
}
/* Emoji */
#{unless _conf["Emoji"] is "disable" then Emoji.css _conf["Emoji Position"] else ""}