#main-menu,
#returnIcon,
#sowIcon,
#psaIcon,
#slideNav,
#img-controls,
#catalog,
#fappeTyme,
.shortcut .icon {
  z-index: 18;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  opacity: 0.5;
  cursor: pointer;
}
.invisible-icons #main-menu,
.invisible-icons #returnIcon,
.invisible-icons #sowIcon,
.invisible-icons #psaIcon,
.invisible-icons #slideNav,
.invisible-icons #img-controls,
.invisible-icons #catalog,
.invisible-icons #fappeTyme,
.invisible-icons #navPrev,
.invisible-icons #navNext,
.invisible-icons .shortcut .icon {
  opacity: 0;
}
#navtopright .exlinksOptionsLink,
#returnIcon,
#{if Conf['Slideout Watcher'] then '#thread-watcher,' else ''}
#{if Conf['Announcements'] is 'slideout' then '#globalMessage,' else ''}
#boardNavDesktopFoot,
#catalog {
  z-index: 16;
}
#navtopright .exlinksOptionsLink:hover,
#returnIcon:hover,
#thread-watcher:hover,
#globalMessage:hover,
#slideNav:hover,
#img-controls,
#catalog:hover {
  z-index: 17;
}
#main-menu {
  background-position: 0 0;
}
#returnIcon {
  background-position: 0 -15px;
}
#sowIcon {
  background-position: 0 -30px;
}
#psaIcon {
  background-position: 0 -45px;
}
#slideNav {
  background-position: 0 -60px;
}
#img-controls {
  background-position: 0 -90px;
}
#catalog {
  background-position: 0 -120px;
}
#fappeTyme {
  background-position: 0 -135px;
}
#slideNav:hover,
#psaIcon:hover,
#img-controls:hover,
#navPrev:hover,
#navNext:hover,
#appchanOptions:hover,
#main-menu:hover,
#qr #qrtab,
#sowIcon:hover,
.thumbnail#selected,
#returnIcon:hover,
#catalog:hover,
#fappeTyme:hover,
.shortcut .icon:hover {
  opacity: 1 !important;
}