#navtopright .exlinksOptionsLink::after,
#appchanOptions,
body > div.navLinks > a:first-of-type::after,
.slideout-watcher #watcher::after,
.announcements-slideout #globalMessage::after,
#boardNavDesktopFoot::after,
body > a[style="cursor: pointer; float: right;"]::after,
#img-controls,
#main-menu,
#catalog::after,
#fappeTyme {
  z-index: 18;
  position: fixed;
  display: block;
  width: 15px;
  height: 15px;
  content: "";
  opacity: 0.5;
}
body::after {
  content: "";
  display: block;
  position: fixed;
  z-index: 5;
  width: 18px;
  height: 18px;
}
.invisible-icons #navtopright .exlinksOptionsLink::after,
.invisible-icons #appchanOptions,
.invisible-icons body > div.navLinks > a:first-of-type::after,
.invisible-icons.slideout-watcher #watcher::after,
.invisible-icons.announcements-slideout #globalMessage::after,
.invisible-icons #boardNavDesktopFoot::after,
.invisible-icons body > a[style="cursor: pointer; float: right;"]::after,
.invisible-icons #img-controls,
.invisible-icons #main-menu,
.invisible-icons #catalog::after,
.invisible-icons #fappeTyme {
  opacity: 0;
}
#navtopright .exlinksOptionsLink,
body > div.navLinks > a:first-of-type,
#{if Conf['Slideout Watcher'] then '#watcher,' else ''}
#{if Conf['Announcements'] is 'slideout' then '#globalMessage,' else ''}
#boardNavDesktopFoot,
#main-menu,
body > a[style="cursor: pointer; float: right;"],
#catalog {
  z-index: 16;
}
#navtopright .exlinksOptionsLink:hover,
body > div.navLinks > a:first-of-type:hover,
.slideout-watcher #watcher:hover,
.announcements-slideout #globalMessage:hover,
#boardNavDesktopFoot:hover,
body > a[style="cursor: pointer; float: right;"]:hover,
#img-controls,
#catalog:hover {
  z-index: 17;
}
#appchanOptions {
  visibility: visible;
  background-position: 0 0;
}
body > div.navLinks > a:first-of-type::after {
  cursor: pointer;
  background-position: 0 -15px;
}
.slideout-watcher #watcher::after {
  background-position: 0 -30px;
}
.announcements-slideout #globalMessage::after {
  background-position: 0 -45px;
}
#boardNavDesktopFoot::after {
  background-position: 0 -60px;
}
body > a[style="cursor: pointer; float: right;"]::after {
  visibility: visible;
  cursor: pointer;
  background-position: 0 -75px;
}
#img-controls {
  background-position: 0 -90px;
}
#navtopright .exlinksOptionsLink::after {
  background-position: 0 -105px;
}
#catalog::after {
  visibility: visible;
  background-position: 0 -120px;
}
#fappeTyme {
  background-position: 0 -135px;
}
#boardNavDesktopFoot:hover::after,
.announcements-slideout #globalMessage:hover::after,
#img-controls:hover,
#navlinks a:hover,
#appchanOptions:hover,
#main-menu:hover,
#navtopright .exlinksOptionsLink:hover::after,
#qr #qrtab,
.slideout-watcher #watcher:hover::after,
.thumbnail#selected,
body > a[style="cursor: pointer; float: right;"]:hover::after,
div.navLinks > a:first-of-type:hover::after,
#catalog:hover::after,
#fappeTyme:hover {
  opacity: 1 !important;
}