/* Expand Images */
body::after {
  top: #{position[i] - 1}px;
}
#img-controls {
  top: #{position[i++]}px;
}
/* Main Menu */
#main-menu {
  top: #{position[i++]}px;
}
/* 4chan X Options */
#appchanOptions {
  top: #{position[i++]}px;
}
/* Slideout Navigation */
#boardNavDesktopFoot,
#boardNavDesktopFoot::after {
  top: #{position[i++]}px;
}
/* Global Message */
.announcements-slideout #globalMessage,
.announcements-slideout #globalMessage::after {
  top: #{position[i++]}px;
}
/* Watcher */
.slideout-watcher #watcher,
.slideout-watcher #watcher::after {
  top: #{position[i++]}px !important;
}
/* 4sight */
body > a[style="cursor: pointer; float: right;"]::after {
  top: #{position[i++]}px;
}
/* ExLinks */
#navtopright .exlinksOptionsLink::after {
  top: #{position[i++]}px;
}
/* 4chan Catalog */
#catalog::after {
  top: #{position[i++]}px;
}
/* Back */
div.navLinks > a:first-of-type::after {
  top: #{position[i++]}px;
}
/* Fappe Tyme */
#fappeTyme {
  top: #{position[i++]}px;
}
/* Thread Navigation Links */
#navlinks a:first-of-type {
  top: #{position[i++]}px !important;
}
#navlinks a:last-of-type {
  top: #{position[i++]}px !important;
}
body::after {
  height: #{position[i] - 2}px;
  #{align}: 2px;
}
#navlinks a,
#navtopright .exlinksOptionsLink::after,
#appchanOptions,
#boardNavDesktopFoot::after,
#globalMessage::after,
#img-controls,
#main-menu,
#fappeTyme,
#{if _conf["Slideout Watcher"] then "#watcher::after," else ""}
body > a[style="cursor: pointer; float: right;"]::after,
#catalog::after,
div.navLinks > a:first-of-type::after {
  #{align}: 3px !important;
}
#boardNavDesktopFoot,
#globalMessage,
#watcher {
  <%= sizing %>: border-box;
  width: 230px !important;
  #{align}: 18px !important;
}
.sidebar-large #boardNavDesktopFoot,
.sidebar-large #globalMessage,
.sidebar-large #watcher {
  width: 288px !important;
}
.fourchan-ss-navigation.fixed.top #header-bar,
.fourchan-ss-navigation.pagination-top .pagelist,
.fourchan-ss-navigation.pagination-sticky-top .pagelist {
  padding-#{align}: #{iconOffset}px;
}
.fixed.top:not(.fourchan-ss-navigation) #header-bar,
.pagination-top:not(.fourchan-ss-navigation) .pagelist,
.pagination-sticky-top:not(.fourchan-ss-navigation) .pagelist {
  margin-#{align}: #{iconOffset}px;
}