body::after {
  #{align}: #{position[i] - 1}px;
}
/* Appchan X Options */
#main-menu {
  #{align}: #{position[i++]}px;
}
/* Slideout Navigation */
#boardNavDesktopFoot::after {
  #{align}: #{position[i++]}px;
}
/* Global Message */
.announcements-slideout #globalMessage::after {
  #{align}: #{position[i++]}px;
}
/* Watcher */
.slideout-watcher #watcher::after {
  #{align}: #{position[i++]}px;
}
/* ExLinks */
#navtopright .exlinksOptionsLink::after {
  #{align}: #{position[i++]}px;
}
/* Expand Images */
#img-controls {
  #{align}: #{position[i++]}px;
}
/* 4chan Catalog */
#catalog::after {
  #{align}: #{position[i++]}px;
}
/* Back */
div.navLinks > a:first-of-type::after {
  #{align}: #{position[i++]}px;
}
/* Fappe Tyme */
#fappeTyme {
  #{align}: #{position[i++]}px;
}
/* Thread Navigation Links */
#navlinks a {
  margin: 2px;
  top: 1px;
}
#navlinks a:last-of-type {
  #{align}: #{position[i++]}px;
}
#navlinks a:first-of-type {
  #{align}: #{position[i++]}px;
}
body::after {
  width: #{position[i] - 2}px;
  top: 0;
}
#boardNavDesktopFoot::after,
#navtopright .exlinksOptionsLink::after,
#main-menu,
.slideout-watcher #watcher::after,
.announcements-slideout #globalMessage::after,
#img-controls,
#fappeTyme,
div.navLinks > a:first-of-type::after,
#catalog::after {
  top: 1px !important;
}
.slideout-watcher #globalMessage,
.slideout-watcher #watcher,
#boardNavDesktopFoot {
  top: 16px !important;
}
.fourchan-ss-navigation.fixed.top #header-bar,
.fourchan-ss-navigation.pagination-top .pagelist,
.fourchan-ss-navigation.pagination-sticky-top .pagelist {
  padding-#{align}: #{iconOffset}px;
}
.fixed.top:not(.fourchan-ss-navigation) #header-bar,
.pagination-top:not(.fourchan-ss-navigation) .pagelist,
.pagination-sticky-top:not(.fourchan-ss-navigation) .pagelist {
  margin-#{align}: #{iconOffset}px;
}