#mascot img {
  height: #{
    if mascot.height and isNaN parseFloat mascot.height
      mascot.height
    else if mascot.height
      parseInt(mascot.height, 10) + 'px'
    else
      'auto'
  };
  width: #{
    if mascot.width and isNaN parseFloat mascot.width
      mascot.width
    else if mascot.width
      parseInt(mascot.width,  10) + 'px'
    else
      'auto'
  };
}
#mascot {
  margin: #{mascot.vOffset or 0}px #{mascot.hOffset or 0}px;
}
.sidebar-large #mascot {
  left: #{if mascot.center then 25 else 0}px;
  right: #{if mascot.center then 25 else 0}px;
}