body {
  padding-bottom: 1px;
}
.fourchan-ss-navigation.fixed.top:not(.autohide) body::before {
  top: #{navHeight}px;
}
.fourchan-ss-navigation.fixed.bottom:not(.autohide) body::before {
  bottom: #{navHeight}px;
}
.top:not(.autohide) body {
  padding-top: #{navHeight + 1}px;
}
.bottom:not(.autohide) body {
  padding-bottom: #{navHeight + 1}px;
}