.fourchan-ss-navigation.index.pagination-sticky-top body::before,
.fourchan-ss-navigation.index.pagination-top body::before {
  top: #{Style.padding.pages.offsetHeight}px;
}
.fourchan-ss-navigation.index.pagination-sticky-bottom body::before,
.fourchan-ss-navigation.index.pagination-bottom body::before {
  bottom: #{Style.padding.pages.offsetHeight}px;
}
.fourchan-ss-navigation.index.pagination-sticky-top body,
.fourchan-ss-navigation.index.pagination-top body {
  padding-top: #{Style.padding.pages.offsetHeight + 1}px;
}
.fourchan-ss-navigation.index.pagination-sticky-bottom body,
.fourchan-ss-navigation.index.pagination-bottom body {
  padding-bottom: #{Style.padding.pages.offsetHeight + 1}px;
}