body {
  padding-bottom: 15px;
  padding-top: 15px;
}
.fourchan-ss-navigation.fixed.top-header:not(.autohide) body::before {
  top: #{navHeight}px;
}
.fourchan-ss-navigation.fixed.bottom-header:not(.autohide) body::before {
  bottom: #{navHeight}px;
}
.top-header:not(.autohide) body {
  padding-top: #{navHeight + 1}px;
}
.bottom-header:not(.autohide) body {
  padding-bottom: #{navHeight + 1}px;
}