"""#{if Style.lightTheme then "
.prettyprint {
  background-color: #e7e7e7 !important;
  border: 1px solid #dcdcdc !important;
}
.com {
  color: #dd0000 !important;
}
.str,
.atv {
  color: #7fa61b !important;
}
.pun {
  color: #61663a !important;
}
.tag {
  color: #117743 !important;
}
.kwd {
  color: #5a6F9e !important;
}
.typ,
.atn {
  color: #9474bd !important;
}
.lit {
  color: #368c72 !important;
}
" else "
.prettyprint {
  background-color: rgba(0,0,0,.1) !important;
  border: 1px solid rgba(0,0,0,0.5) !important;
}
.tag {
  color: #96562c !important;
}
.pun {
  color: #5b6f2a !important;
}
.com {
  color: #a34443 !important;
}
.str,
.atv {
  color: #8ba446 !important;
}
.kwd {
  color: #987d3e !important;
}
.typ,
.atn {
  color: #897399 !important;
}
.lit {
  color: #558773 !important;
}
"}"""