/* General */
:root.yotsuba .dialog {
  background-color: #F0E0D6;
  border-color: #D9BFB7;
}
:root.yotsuba .field:focus {
  border-color: #EA8;
}

/* Header */
:root.yotsuba #header-bar {
  font-size: 9pt;
  color: #B86;
}
:root.yotsuba #header-bar a {
  color: #800000;
}

/* Settings */
:root.yotsuba #fourchanx-settings fieldset {
  border-color: #D9BFB7;
}

/* Quote */
:root.yotsuba .backlink.deadlink {
  color: #00E !important;
}
:root.yotsuba .inline {
  border-color: #D9BFB7;
  background-color: rgba(255, 255, 255, .14);
}

/* QR */
:root.yotsuba #qr select {
  color: #00E;
}
:root.yotsuba #qr select:hover {
  color: red;
}
.yotsuba #dump-list::-webkit-scrollbar-thumb {
  background-color: #F0E0D6;
  border-color: #D9BFB7;
}
:root.yotsuba .qr-preview {
  background-color: rgba(0, 0, 0, .15);
}

/* Menu */
:root.yotsuba #menu {
  color: #800000;
}
:root.yotsuba .entry {
  border-bottom: 1px solid #D9BFB7;
  font-size: 10pt;
}
:root.yotsuba .focused.entry {
  background: rgba(255, 255, 255, .33);
}
:root.yotsuba .thumb > .menu-button > i {
  background: #FFE;
}
